* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #888888;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    max-width: 1400px;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .container.sm {
    max-width: 576px;
  }

  .container.md {
    max-width: 768px;
  }

  .container.lg {
    max-width: 920px;
  }
  
  .container.xl {
    max-width: 1200px;
  }

  .mt-1 {
    margin-top: 0.5rem;
  }

  .mt-2 {
    margin-top: 1rem;
  }

  .mt-3 {
    margin-top: 1.5rem;
  }

  .mt-4 {
    margin-top: 2rem;
  }

  .mt-5 {
    margin-top: 2.5rem;
  }

  .mt-6 {
    margin-top: 10rem;
  }

  .mb-1 {
    margin-bottom: 0.5rem;
  }

  .mb-2 {
    margin-bottom: 1rem;
  }

  .mb-3 {
    margin-bottom: 1.5rem;
  }

  .mb-4 {
    margin-bottom: 2rem;
  }

  .mb-5 {
    margin-bottom: 2.5rem;
  }

  header {
    height: 400px;
    background: transparent;
    text-align: center;
    position: relative;
    padding-top: 50px;
    overflow: hidden;
  }

  .header-bg {
    height: 400px ;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #707070;
    transform: skewY(6deg);
    transform-origin: bottom right;
  }

  h2 {
    font-size: 20px;
  }

  header h1 {
    font-size: 40px;
    color: #ffffff;
    position: relative;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  header h2.subtitle {
    color: #ffffff;
    position: relative;
    font-weight: 400;
  }

  header h6 {
    color: #ffffff;
    position: relative;
    font-weight: 400;
    margin-bottom: 3.125rem;
  }

  h3 {
    margin: 3rem 0 1rem 0;
    font-size: 18px;
    text-align: center;
  }

  nav {
    height: 40px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 41px;
  }

  nav a {
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
  }

  
  hr[divider-content] {
    height: 5px;
    overflow: visible;
    text-align: center;
    border: none;
    border-top: 1px solid #707070;
    opacity: 1;
  }

  hr[divider-content]::after {
    content: attr(divider-content);
    top: -13px;
    padding: 0 17px;
    position: relative;
    background:#FFFFFF;
    font-size: 18px;
    font-weight: bold;
  }

  footer {
    background: #707070;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .footer-bg {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #707070;
    transform: skewY(6deg);
    transform-origin: top right;
  }

  footer p {
    color: #f2f2f2;
    text-align: center;
  }

  #contact .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    flex-grow: 1;
  }

  #contact .item:first-child {
    flex-basis: 55%;
  }

  #contact .item:nth-child(2) {
    flex-basis: 45%;
    padding-left: 40px;
  }

  #contact h2 {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  #contact p {
    margin-top: 1rem;
  }

  .form-item,
  .form-check {
    margin: 0 0 1.5rem 0;
  }

  .form-item label,
  .form-item input,
  .form-item button {
    width: 100%;
    height: 30px;
    display: block;
  }

  .send {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
  }

  .form-item label {
    margin-bottom: 0.25rem;
  }

  .form-item input {
    padding: 0.33rem;
  }

  .form-item button {
    padding: 0.5rem;
    font-size: 16px;
  }

  .radio {
    display: inline-flex;
    width: 100px;
  }

  .radio label {
    padding-left: 4px;
  }

  #product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 41px;
  }

  .product-card {
  }

  .card-image {
    width: 100%;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

   #product-list .card-name {
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 10px;
  }

   #product-list .card-description {
    font-size: 12px;
    margin-bottom: 6px;
  }

   #product-list .card-oldPrice {
    font-size: 12px;
    margin-bottom: 6px;
  }

   #product-list .card-price {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  .card-installments {
    font-size: 12px;
    margin-bottom: 10px;
  }

   #product-list button{
    display: block;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
  }

  .align-center {
    text-align: center;
  }

  .more {
    margin-top: 52px;
    width: 260px;
    height: 40px;
    font-size: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
  }

  .text-center {
    justify-content: center;
  }

  #newsletter p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .send {
    margin-top: 52px;
    margin-bottom: 70px;
    width: 260px;
    height: 40px;
    font-size: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .container {
      padding-right: 16px;
      padding-left: 16px;
    }

    nav {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    nav a {
      text-align: center;
    }

    header {
      text-align: left;
      background: transparent;
    }

    .header-bg {
        bottom: 48%;
        transform: skewY(26deg);
    }

    header h2.subtitle {
        color: #ffffff;
        position: relative;
        font-weight: 400;
    }

    header h1 {
        font-size: 40px;
        color: #ffffff;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }

    header h6 {
        color: #ffffff;
        position: relative;
        font-weight: 400;
        margin-bottom: 3.125rem;
        font-size: 14px;
        margin-top: 9px;
    }

    .products .flex-item{
      flex-basis: 100%;
      flex-grow: 1;
    }

    #product-list{
      grid-template-columns: repeat(1, 1fr);
    }

    #product-list .card {
      display: flex;
      margin-top: 20px;
      width: 100%;
      align-items: center;
    }

    .card-description {
      display: none;
    }

    .card img {
      flex-basis: 38%;
      width: 100%;
      height: 100%;
    }

    .card-body{
      padding-left: 15px;
      flex-basis: 62%;
    }

    .buttons button {
      margin: 1rem;
    }

    #contact .item:first-child {
      flex-basis: 100%;
    }

    #contact .item:nth-child(2) {
      margin-top: 2rem;
      flex-basis: 100%;
      padding-left: 0;
    }

    .form-group {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }